.shoppingCartContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.yourCart {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 30px;
  color: blue;
}

.line {
  width: 600px;
  height: 3.5px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(51, 50, 50);

  margin-right: auto;
}

.basketTitle {
  display: flex;
  justify-content: space-around;
  margin-left: 300px;

  width: 160px;
  font-size: 20px;
  background-color: gold;
}

.imageAndCartContainer img {
  width: 300px;
  margin-left: 20px;
  height: 200px;
  border-radius: 7px;
}
.cartBasketSection {
  width: 25%;

  border: 2px dashed black;
  min-height: 500px;
  margin-right: 20px;
}
