.shoppingCartContainer {
  display: flex;
  margin-top: 100px;
  margin-left: 50px;

  justify-content: space-between;
  flex-direction: row;
}

.yourCart {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 30px;
  color: blue;
}

.cartBasketSection p {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.cartBasketSection span {
  margin-left: 0;
}

.cartDisclaimer {
  margin-left: 9%;
}

.line {
  width: 600px;
  height: 3.5px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: rgb(51, 50, 50);

  margin-right: auto;
}

.basketTitle {
  display: flex;
  justify-content: space-between;
  margin-left: 300px;

  width: 160px;
  font-size: 20px;
  background-color: gold;
}

.cartTitle {
  height: 30px;
  text-align: center;
  border-radius: 4px;
  width: 275px;
  font-size: 22px;
  background-color: rgb(117, 219, 117);
}

.imageAndCartContainer img {
  width: 300px;
  margin-left: 20px;
  height: 200px;
  border-radius: 7px;
}

.productRemove {
  display: flex;
  margin-left: 75px;
  cursor: pointer;
}
.titleAndImage > div {
  display: flex;
  gap: 20px;
}

.colorName {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  align-items: center;
  font-size: 20px;
}

.titleAndImage {
  display: flex;
  flex-direction: column;
}

.counter h1 {
  font-size: 14px;
}

.counter {
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.minus,
.plus {
  font-weight: 600;
  font-size: 24px;
}

.rightSide {
  width: 500px;
}

.productImage {
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.salePrice,
.color {
  font-size: 15px;
}

.emptyCartMessage {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  margin-left: 150px;

  font-size: 28px;
}

.backToProductPage {
  font-size: 16px;
  border-radius: 4px;
  border: none;
  height: 40px;
  width: 160px;
}

.productRemoveMessage {
  background-color: rgb(228, 224, 224);
  height: 60px;
  border-radius: 4px;
  align-content: center;
  font-size: 18px;

  width: 80%;
}

.productRemoveMessage span {
  font-weight: 600;
  margin-left: 10px;
}

.testCartButton {
  margin-top: 100px;
  margin-left: 20px;
}

.removeColorChange {
  color: rgb(124, 120, 120);
}
