.productPageButtonContainer {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 60px;
  
}

.categoryLink {

    text-decoration: none;
    color: rgb(85, 82, 82);
    font-size: 20px;
   
}

.underline {
    width: 600px;
    height: 0.5px;
    margin-top: 50px;
    background-color: black;
   margin-left: auto;
  margin-right: auto;
}

.sortDropdown {

    margin-left: 50px;
  
}