.companiesThatAreClients {
  color: black;
  display: flex;
  gap: 100px;
  margin-top: 100px;


}

.companiesThatAreClients > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.nameAndLogo {
  height: 50px;
}
