
background {

    
}



.consultationContainer {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
  color: rgb(154, 93, 15);
}
.calenderIntro {
  font-size: 18px;
}
.headerLine {
  width: 10%;
  height: 3px;
  background: linear-gradient(to bottom right, gold, orange);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.actualCalenderContainer {

    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  border: 2px solid gold;
  display: flex;
  justify-content: space-between;
  background-color:#2c2416;
  align-items: center;
}

.calenderMonth{

    color: gold;
}


.monthHeaderLeftArrow {

    margin-left: 50px;
  border: 2px solid gold;
  width: 30px;
  color: gold;
  /* height: 30px; */

}

.monthHeaderRightArrow {

    margin-right: 50px;
     border: 2px solid gold;
   color: gold;
  width: 30px;
}