.days {
  font-size: 14px;
}
.dates {
  color: rgb(26, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  cursor: pointer;
}




.dates.selected {
  background: #2c2416;
  color: #d4af37;
  width: 100px;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.time-cal.selected {
  background: #2c2416;
  color: #d4af37;
  width: 50%;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.times{
  border: solid 2px black;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.datesOfTheWeek {
  display: grid;
  background-color: white;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(7, 1fr);
}
.daysOfTheWeek {
  display: flex;
  font-weight: bolder;
  margin-top: 20px;
  justify-content: center;
  justify-content: space-around;
}
.consultationContainer {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
  color: rgb(154, 93, 15);
}
.calenderIntro {
  font-size: 18px;
}
.headerLine {
  width: 10%;
  height: 3px;
  background: linear-gradient(to bottom right, gold, orange);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.actualCalenderContainer {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gold;
  display: flex;
  justify-content: space-between;
  background-color: #2c2416;
  align-items: center;
}

.calenderMonth {
  color: gold;
}

.monthHeaderLeftArrow,
.monthHeaderRightArrow {
  margin-left: 50px;
  border: 2px solid gold;
  width: 30px;
  color: gold;
  cursor: pointer;
}

.timeLine {
  width: 100%;
  height: 3px;

  background: gray;
}


.times.selected {
  background: #2c2416;
  color: #d4af37;
}

.timeSelection{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  grid-template-columns: repeat(3, 1fr);
}

.timePick {
  text-align: left;
  margin-left: 125px;
  height: 60px;
  align-content: center;
  font-size: 20px;
}

.dateThatIsSelected {
  text-align: left;
  font-size: 20px;
  margin-left: 125px;
}
.dateThatIsSelected span {
  color: black;
 
}

.bookConsultation {
  width: 50%;
  height: 50px;
  background: #2c2416;
  color: #d4af37;
  font-size: 20px;

  margin-top: 50px;
}

.yourInfoForm {
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.yourInfoForm select {
  border-radius: 5px;
  border: 1.8px solid #c5cdd7;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.yourInfoForm input {
  border-radius: 5px;
  border: 1.8px solid #c5cdd7;
  height: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.yourInfoForm label {
  text-align: left;
  align-self: flex-start;
  margin-left: 25%;
  margin-top: 20px;
}

#description {
  height: 120px;
}

span {
  color: red;
}
