.furnitureVideoTestimonialContainer {
  background-image: linear-gradient(
    45deg,
    rgb(237, 241, 244),
    rgb(102, 102, 243)
  );
  height: 550px;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
