.furnitureVideoTestimonialContainer {
  background-image: linear-gradient(
    45deg,
    rgb(237, 241, 244),
    rgb(102, 102, 243)
  );
  height: 550px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  position: relative;
  z-index: 10;
}

.videoIntroPhrase {
  display: flex;
  height: 1000px;
  margin-left: 20px;
  justify-content: space-around;
  font-size: 28px;
  margin-top: 100px;
}

.phrase {
  margin-top: 200px;
}

.CEO-Video {
  height: 350px;
  width: 300px;
  margin-top: 50px;

  border-radius: 15px; 
  overflow: hidden; 
  width: 100%;
}
