.topImageContainer {
  display: flex;
  justify-content: center;
  margin-top: 60px;



  
}

.threeImages {
  display: flex;

  width: 700px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(176, 176, 225);
}
