body {
  margin: 0;
  overflow-x: hidden;
}

.topBlackHeader {
  width: 100%;
  display: flex;

  justify-content: center;

  align-items: center;
  background-color: black;
}

.topBlackHeader {
  color: #e5e4e2;
}

.hideBanner {
  margin-right: 20px;

  float: right;
  color: #e5e4e2;
  margin-top: -35px;
  cursor: pointer;
  
}
