body {
  margin: 0;
  overflow-x: hidden;
}

.topBlackHeader {
  width: 100%;
  display: flex;

  justify-content: center;
  color: #e5e4e2;
  align-items: center;
  background-color: black;
}

.hideBanner {
  margin-right: 20px;

  float: right;
  color: #e5e4e2;
  margin-top: -35px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .headerSentence {
    text-align: center;
  }

  .mainStatement {
    font-size: 12px;
  }
}
