.wholeSaleInquiriesContainer {
  margin-top: 100px;
}

.title {
  flex-direction: column;
  height: 150px;
  font-size: 24px;
  color: #8a8a8a;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  padding: 2rem;
  text-align: center;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid #a9a9a9;
}

.title p {
  color: white;
  font-size: 12px;
}

h1 {
  color: #c0c0c0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.wholeSale-form-topLine,
.companyInfoContainer h3 {
  padding: 10px 10px 0 10px;
}

.companyInfoContainer {
  width: 50%;
  background-color: rgb(210, 214, 218);
  height: auto;
  gap: 20px;
  flex-direction: column;
  display: flex;
}

.wholeSale-form-topLine {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wholeSale-form-topLine label {
  align-items: center;
  text-align: center;
  display: flex;
}

.wholeSale-form-topLine input {
  height: 50px;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(240, 239, 239);
  border: 1.8px solid #c5cdd7;
}

.name {
  margin-left: 20px;
}

.wholeSale-form-secondRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 50px;
  width: 80%;
}

.wholeSale-form-secondRow label:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

.wholeSale-form-secondRow label:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

.wholeSale-form-secondRow input:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
  height: 50px;
  width: 100%;
}

.wholeSale-form-secondRow input:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
}

.wholeSale-form-secondRow,
.wholeSale-form-thirdRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
}

.wholeSale-form-thirdRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
}

.wholeSale-form-thirdRow label:nth-of-type(1) {
  grid-column: 1;
  grid-row: 3;
}

.wholeSale-form-thirdRow label:nth-of-type(2) {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
}

.wholeSale-form-thirdRow input:nth-of-type(1) {
  grid-column: 1;
  grid-row: 4;
  height: 50px;
  width: auto;
}

.wholeSale-form-thirdRow input:nth-of-type(2) {
  grid-column: 2;
  grid-row: 4;
  height: 50px;
  width: 100%;
}

span {
  color: red;
}

.businessDetailsDivider {
  width: 100%;
  height: 3px;
  background-color: #1a1a1a;
}

.wholeSale-form-forthRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* width: 80%; */
}

/* labels on top */
.wholeSale-form-forthRow label:nth-of-type(1) {
  grid-column: 1;
  grid-row: 5;
}

.wholeSale-form-forthRow label:nth-of-type(2) {
  grid-column: 2;
  grid-row: 5;
}

/* inputs under labels */
.wholeSale-form-forthRow input:nth-of-type(1) {
  grid-column: 1;
  grid-row: 6;
  height: 50px;
}

.wholeSale-form-forthRow input:nth-of-type(2) {
  grid-column: 2;
  grid-row: 6;
  height: 50px;
}

.wholeSale-form-fifthRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* width: 80%; */
}

/* labels */
.wholeSale-form-fifthRow label:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

.wholeSale-form-fifthRow label:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

/* inputs */
.wholeSale-form-fifthRow input:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
  height: 50px;
}

.wholeSale-form-fifthRow input:nth-of-type(2) {
  grid-column: 2;
  grid-row: 2;
  height: 50px;
}
