.wholeSaleInquiriesContainer {
  margin-top: 100px;
}

.title {
    flex-direction: column;
  height: 150px;
  font-size: 24px;
  color: #8a8a8a;
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 100%);
  padding: 2rem;
  text-align: center;
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid #a9a9a9;
}

.title p{
   color: white;
   font-size: 12px;
}

h1 {
  color: #c0c0c0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
}

.companyInfoContainer h3  {
 padding: 10px 10px 0 10px;
}

